{{#unless isEditing}}
  <article id="lead">
    <h1>
      {{model.fullName}}
    </h1>

    <form>
      <fieldset>
        
        <dl>
          <dt>
            <label>
              First Name:
            </label>
          </dt>
          <dd>
            {{view Ember.TextField value=model.firstName}}
          </dd>
        </dl>
    
        <dl>
          <dt>
            <label>
              Email:
            </label>
          </dt>
          <dd>{{view Ember.TextField value=model.email}}</dd>
        </dl>

        <dl>
          <dt><label>Phone:</label></dt>
          <dd>{{view Ember.TextField value=model.phone}}</dd>
        </dl>

      </fieldset>

      <fieldset class="actions">
        <input type="submit" value='Save Changes' {{action "saveChanges"}}>
        <a {{bindAttr href="#"}} class="cancel" {{action "cancel" on="click"}}>cancel</a>
      </fieldset>
    </form>
  </article>
{{/unless}}