<article id="lead">
  <h1>
    {{model.fullName}}
  </h1>

  <p>
    Name: {{model.fullName}}
  </p>

  <p>
    Email: {{model.email}}
  </p>

  <p>
    Phone: {{model.phone}}
  </p>

  <p>
    <label>Status:</label>
    {{view Ember.Select content=App.Lead.STATUSES value=model.status}}
  </p>
</article>